{% extends "base.html" %}
{% block content %}

    <body style="background-color:white;">

    {% load crispy_forms_tags %}

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style_for_login.css' %}">

    <div class="login d-flex align-items-center py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-9 col-lg-8 mx-auto">
                    <h3 class="login-heading mb-4">Welcome back!</h3>
                    <form action="{% url 'login' %}" method="post">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <button type="submit" class="btn btn-lg btn-dark btn-xl btn-login text-uppercase font-weight-bold mb-2">Login</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}