{% extends "base.html" %}
{% block content %}

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark py-3" id="dashboard_navbar">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="/">servaMap</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto my-2 my-lg-0">
                    <li class="navbar-brand js-scroll-trigger dropdown">
                        <a class="nav-link dropdown-toggle"  href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Settings</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Account</a>
                            <a class="dropdown-item" href="{% url 'logout' %}">Log out</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <body>
    {% block body_content %}
    {% endblock %}
    </body>

{% endblock %}